# Spring profile (dev or prod)
SPRING_PROFILES_ACTIVE=dev

# Database
DB_URL=jdbc:mysql://localhost:3306/papi_db
DB_USERNAME=papi
DB_PASSWORD=

# JWT
JWT_SECRET=
AUTH_TIMEOUT=3600000

# Default admin created on first boot
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me-immediately
